.signupForm {
  display: flex;
  flex-direction: column;

  width: 50%;
  height: 50%;
  margin: 10px auto;
  position: relative;
  top: 30px;

  // justify-content: center;
  align-items: center;

  Input {
    display: flex;
    height: 40px;
    width: 80%;

    border: burlywood;
    border-radius: 10px;

    background-color: rgba(0, 207, 235, 0.616);
    font-size: 20px;
    color: rgb(255, 253, 253);
    padding-left: 20px;

    &:focus {
      outline: none !important;
      border-color: #7da1c8;
      box-shadow: 0 0 10px #04eebb;
    }

    &::placeholder {
      opacity: 1;
      padding: 10px;
      font-size: 20px;
      color: rgb(255, 253, 253);
    }
  }

  button {
    background-color: rgba(7, 92, 4, 0.801);
    color: rgb(246, 246, 246);
    border-radius: 5px;
    height: 30px;
    width: 70px;
    cursor: pointer;
  }
}
