@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nunito:wght@200&family=Roboto:wght@100&family=Work+Sans:ital,wght@0,300;1,400&display=swap');
.principalCategoriesTitle {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 40px;
}
.categoryDisplay {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 60%;
  margin: auto;
  margin-top: 10%;
  // border: solid 2px rgb(110, 36, 2);
  font-family: 'Nanum Gothic', sans-serif;
  overflow-y: scroll;
  background-color: rgb(236, 236, 236);
  border-radius: 2%;

  .categoryListTitle {
    margin: 10px auto;
    width: 50%;

    color: rgb(59, 59, 59);
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
  }
}

.categoryName {
  color: rgb(0, 0, 0);
  font-size: 20px;
}
.subCategoryTitle {
  color: rgb(109, 109, 109);
  list-style: none;
  margin-top: 10px;

  .subCategoryName {
    font-size: 15px;
  }
}

@media screen and (max-width: 600px) {
  .principalCategoriesTitle {
    font-size: 20px;
  }
  .categoryDisplay {
    width: 90%;
    margin: auto;

    .categoryListTitle {
      margin: 10px auto;
      width: 50%;

      color: rgb(65, 65, 65);
      text-align: center;
      font-family: 'Work Sans', sans-serif;
      font-size: 20px;
    }
  }
}
